// Reviews Block
.media-list{margin: 0;}
.media > .pull-left{
  margin-right: 30px;
}
.reviews{
  margin-bottom: 20px;
}

// Individual Review Unit
.review{
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
