<% raise 'boom' %>

<hr>
<div class="row">
  <section class="col-lg-8 col-md-10 col-sm-12 reviews">
  <h3>Customer Reviews</h3>
    <div class="review">
      <ul class="media-list">
        <li class="media">
          <a class="pull-left" href="#">
            <img src="/assets/sampleimgs/read2.jpg" alt="" class="media-object">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Love it! This is an awesome product</h4>
            <p class="meta author">By <a href="">Solomon G. Grundy</a></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas consequatur nulla voluptates iste modi expedita non excepturi odio, quasi illo rem totam, nostrum ad architecto reiciendis quos molestias sapiente adipisci.</p>
          </div>
        </li>
      </ul>
    </div><!-- review end -->
    <div class="review">
      <ul class="media-list">
        <li class="media">
          <a class="pull-left" href="#">
            <img src="/assets/sampleimgs/read.jpg" alt="" class="media-object">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Quas consequatur nulla voluptates iste modi expedita non eLorem ipsum dolor sit amet,</h4>
            <p class="meta author">By <a href="">Solomon G. Grundy</a></p>
            <p>Consectetur adipisicing elit. Quas consequatur nulla voluptates iste modi expedita non eLorem ipsum dolor sit amet, consectetur adipisicing elit. Quas consequatur nulla voluptates iste modi expedita non excepturi odio, quasi illo rem totam, nostrum ad architecto reiciendis quos molestias sapiente adipisci.</p>
          </div>
        </li>
      </ul>
    </div><!-- review end -->
    <div class="review">
      <ul class="media-list">
        <li class="media">
          <a class="pull-left" href="#">
            <img src="/assets/sampleimgs/read3.jpg" alt="" class="media-object">
          </a>
          <div class="media-body">
            <h4 class="media-heading">This is an awesome product</h4>
            <p class="meta author">By <a href="">Solomon G. Grundy</a></p>
            <p>Lorem ipsum dolor sit amet, uasi illo rem totam, nostrum ad architecto reiciendis quos molestias sapiente adipisci. Lorem ipsum dolor sit amet, uasi illo rem totam, nostrum ad architecto reiciendis quos molestias sapiente adipisci.</p>
          </div>
        </li>
      </ul>
    </div><!-- review end -->
    <div class="review">
      <ul class="media-list">
        <li class="media"><!--  WITHOUT IMAGE — Just remove the stuff -->
<!--      <a class="pull-left" href="#">
            <img src="/assets/sampleimgs/read.jpg" alt="" class="media-object">
          </a> -->
          <div class="media-body">
            <h4 class="media-heading">Love it! This is an awesome product</h4>
            <p class="meta author">By <a href="">Solomon G. Grundy</a></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas consequatur nulla voluptates iste modi expedita non excepturi odio, quasi illo rem totam, nostrum ad architecto reiciendis quos molestias sapiente adipisci.</p>
          </div>
        </li>
      </ul>
    </div><!-- review end -->
  </section>
</div>
