<p>
  The traditional way of building a mobile application for an informational app is to build an API. Both ios app and the android app will be built using native code and thse apps will consume the API.
</p>

<p>
  There is nothing wrong with this strategy. Except that this strategy should not be the only strategy in town.
</p>

<p>
  BigBinary as a consulting company deals with various different business. Some of them do not have enough time or money or both to invest in building native applications consuming the API. This process requires
  dealing with three different languages ( Ruby, Swift and Java ), takes too much time and slows down the project.
</p>

<p>
  Basecamp has consistenly shown that using webview for building mobile applications for informational apps is a viable strategy. However whenever I presented this strategy to my clients they were hesitant. 
  Their strongest argument was that Mark Zuckerberg said that the current environment is not ready for hybrid approach. Well I'm no smarter than Mark.
</p>

<p>
  Yes webviews might be slow but so is toyota corolla , the best selling car in USA compared to Ferrari. Sure it is nice to have Ferrari but not everyone needs it and not everyone can afford it.
</p>

<p>
  Same is true with building mobile application natively. Sure it is nice to have the capability of gestures and ability to swipe etc but not all informational apps need it and not all stakeholders behind
  these businesses can afford it.
</p>

<p>
  WebviewAhead is an experimental application we built to test out how good/bad webviews can be. Find it out foryouself. We have open sourced both the Rails code and the swift code.
</p>
