<p>
  Send us an email at hello@BigBinary.com .
</p>

<p>
  On twitter we are at <%= link_to '@BigBinary', 'http://twitter.com/bigbinary' %> .
</p>

<p>
  Our website is <%= link_to 'BigBinary.com', 'http://BigBinary.com' %> .
</p>
